
.lewastrona{
   
    color: #ffd700;

 width: 100%;
 font-size: large;
 border-radius: 50px;
 text-align: center;
}


.zdjecie:active {

    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0 0 #4D5259;
}

.wszystkieprzyciski{
   border-radius: 50px;
   text-align: center;
 font-size: large;

}

button:active{
    color: blue;
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0 0 #4D5259;
}

.lewysrodek{
    font-size: 29px;
    text-align: left;

    width: 20%;
    float: left;
}

.ssrodek{
 text-align: center;
 width: 60%;
 
 float: left;
 font-size: x-large;
}

.prawysrodek{
 text-align: center;
 float: right;
 width: 20%;

 font-size: 29px;
 
}

.footer{
    text-align: center;
    width: 100%;
    border-radius: 50px;
}
